{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}

<div class="container" style="margin-top:7%;">
    <div class="row">
            <div class="col-md-7">
                <div id="post_image" class="row">
                    <!-- Button trigger modal -->

                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload image</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    {{ form.as_p}}
                                    <button class="btn btn-sm btn-success">Upload</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                                        Close
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>


                    {% for image in images %}
                    <div class="card mb-4">
                        <div class="card-title" >
                            <img src="{{ user.profile.profile_photo.url }}" class="img-thumbnail rounded-circle user-img">
                            <a href="" class="mt-4 user" style="color: black; text-decoration: none;"><strong>{{image.user.user.username|title}}</strong></a>
                        </div>
                        <div class="card-body mb-4">
                            <a href=""><div class="card-text" style="background-image:url"{{ image.image.url }};background-size: contain;position: sticky">
                                <img src="{{image.image.url}}"  class="card-img" width="100%"/>
                            </div></a>
                        </div>
                        <div class="iconic ml-2">
                            <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                                <a href=""><i class="far fa-heart hearticon mx-auto"
                                                                        aria-hidden="true"></i></a>
                            </button>
                            <button class="btn btn-sm" type="submit"><a href=""><i
                                    class="far fa-comment hearticon mx-auto" aria-hidden="true"></i>
                            </a></button>
                        </div>
                        <span class="ml-4 mb-1"><strong>{{image.likes.count}} like{{image.likes.count|pluralize}}</strong></span>
                        <span class="text-secondary ml-4 viewall"><a href="" style="font-size: 10px; color: lightgray; text-decoration: none;">view all {{image.comments.count}} comment{{image.comments.count|pluralize}}</a></span>
                        <div class="allcomments mb-4">
                            {% for comment in image.comments.all|slice:'2' %}
                            <div class="comment">
                                <div class="ml-4"><strong>{{ comment.user.user.username }}</strong> <span
                                        class="text-secondary">{{ comment.body }}</span>
                                </div>
                            </div>
                            {% empty %}
                            {% endfor %}
                            <p style="font-size: 10px;" class="text-secondary ml-4">posted {{image.created|timesince}} ago</p>
                        </div>
                    </div>
                    {% endfor %}

                    <form action="" method="POST">
                        {% csrf_token %}
                        {% if is_liked %}
                        <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}"><i
                                class="fa fa-heart hearticon mx-auto" aria-hidden="true" style="color:red"></i></a>
                        </button>
                        {% else %}
                        <button class="btn btn-sm" type="submit" id="like"  name="image_id" value="{{image.id}}"><i
                                class="far fa-heart hearticon mx-auto" aria-hidden="true"></i>
                        </button>
                        {% endif %}
                    </form>
                    <span>{{ total_likes }} like{{ total_likes | pluralize}}</span>

                </div>
            </div>
   
                <div class="col-md-4 mt-4 userinfo">
                    <div class="row">
                        <div class="col-md-3 ml-2">
                            <img class="img-thumbnail rounded-circle user-img" src="{{ user.profile_photo.url }}"">
                        </div>
                        <div class="col-md-6 mt-4 user-detail">
                            <span class=" inname">{{ user.username }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card mt-4 mr-2 ml-2">
                                <div class="card-title text-secondary mt-2 mr-2 ml-2 ">Suggestions</div>
                                {% for user in users %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2 mr-3 mt-1 mb-2">
                                            <img class="rounded-circle" src="{{ user.profile.profile_photo.url }}" width="45px" height="45px">
                                        </div>
                                        <div class="col-md-6 mr-2 mt-2">
                                            <span><a href="">{{user.username}}</a></span>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
            </div>
        </div>
    <p class="text-center mt-5">All rights reserved. Ngina Gitau @ 2022</p>
</div>

{% endblock %}