<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="row">
            <div class="row">
              <div class="col-md-2">
                <a class="navbar-brand" href="{% url 'home' %}"><span class="iconify" data-icon="logos:instagram"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              </div>

                <!-- Collapsing navbar -->
              <div class="col-md-10">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="container">
                    <div class="row align-items-start">
                      <!-- search field -->

                      <div class="col">
                          <form id="form_search" class="d-flex" role="search" action="{% url 'home' %}">
                            <input id="input_search" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" name="category">
                            <button id="button_search" class="btn btn-outline-success" type="submit">Search</button>
                          </form>
                      </div>
                      <!-- home icon -->

                      <div class="col">
                        <div class="navbar-nav">
                          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><span class="iconify" data-icon="ci:home-fill"></span></a>
                        </div>
                          </div>
                      <!-- add post icon -->

                      <div class="col">
                        <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="iconify" data-icon="fluent:add-square-24-regular"></span></button>
                        </div>
                        <!-- account icon -->

                        <div class="col">
                          <div class=" dropdown">
                            {% if user.is_authenticated %}
                                <a class="btn " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span class="iconify" data-icon="iconoir:profile-circled"></span></a>
              
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <li><a class="dropdown-item" href="{%url 'home'%}">Home</a></li>
                                  <li><a class="dropdown-item" href="/accounts/password_change">Change Password</a></li>
                                  <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
                                </ul>
                            {% else %}
                            <li>
                              <a class='btn btn-default' href="/registration/login">Login</a>
                            </li>
              
                            {% endif %}
                          </div>
                        </div>
                    </div>
                  </div>
                  
                </div>
              </div>
      </div>
    </div>            
    </nav>
</body>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</html>